* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("https://i.pinimg.com/originals/4f/6d/05/4f6d052bb1b26150115888ea06d4c106.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

#logo{
    font-weight: bold;
    font-size: 200%;
    color: #FFFFFF;
    border-radius: 1px;
    border: 2px solid #FFFFFF;
    background: #221f27;
    box-sizing: border-box;
    width: 16%;
    margin-left: 5px;
    transform: translateY(10px);
}

h1 {

}

#menu {
    background: #221f27;
    font-size: 30px;
    width: 650px;
    margin-left: 5px;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    transform: translateY(70%);
}

#menu a:visited {
    color: #FFFFFF;
}

#menu a:link {
    color: #FFFFFF;
}

.movieWrapper {
    background: #221f27;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    float: left;
    margin: 20px;
    padding: 5px;
}

.coverField {

    background: #393939;
}
.coverField img {
    display: block;
    width: 130px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.titleField a:link {
    color: #FFFFFF;
}

.titleField a:hover {
    color: #7a80eb;
}

.titleField a:visited {
    color: #FFFFFF;
}

.blockLink { display: block; }


input[type=text], select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #253191;
    border-radius: 4px;
    box-sizing: border-box;
}

#search input[type=submit] {
    width: 15%;
    background-color: #FFFFFF;
    color: black;
    padding: 4px 4px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transform: translateY(2px);
}

#search input[type=submit]:hover {
    background-color: #221f27;
    color: #FFFFFF;
}

#search input[name=search] {
    width: 45%;
    padding: 8px 8px;
}

#search {
    padding: 8px 8px;
    width: 30%;
    margin-left: 80%;
}

input[type=submit] {
    width: 7%;
    background-color: #FFFFFF;
    color: black;
    padding: 4px 4px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #221f27;
    color: #FFFFFF;
}


