* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("https://i.pinimg.com/originals/4f/6d/05/4f6d052bb1b26150115888ea06d4c106.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#logo{
    font-weight: bold;
    font-size: 300%;
    color: #FFFFFF;
}
#menu {
    background: #221f27;
    font-size: 30px;
}

#menu a:visited {
    color: #FFFFFF;
}

#menu a:link {
    color: #FFFFFF;
}

.movieWrapper {
    background: #253191;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    float: left;
    margin: 20px;
    padding: 5px;
}

.coverField {

    background: #393939;
}
.coverField img {
    display: block;
    width: 130px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.titleField a:link {
    color: #FFFFFF;
}

.titleField a:hover {
    color: #7a80eb;
}

.titleField a:visited {
    color: #FFFFFF;
}

.blockLink { display: block; }


input[type=text], select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #253191;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 7%;
    background-color: #FFFFFF;
    color: black;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #253191;
}

#search {
    padding: 5px 8px;
}

#search input [type=submit] {
    padding: 5px 5px;
}

