* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
#logo{
    padding:15px;
    font-weight: bold;
    font-size: 300%;
}
#menu {
    padding:10px 5px 10px 15px;
    background: beige;
    margin-bottom: 10px;
}
#menu a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 25px;
}
#menu a:hover{
    color: #7f7f7f;
}

.movieWrapper {
    background: beige;
    float: left;
    margin: 15px;
    padding: 15px;
    width: 15%;
    min-height: 380px;
}
.movieWrapper a{
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.coverField {
    background: beige;
}
.coverField img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}
.titleField {}
.blockLink { display: block; }
.right{ float: right; }
.clear{ clear: both;}
