
.left {
    float: left;


}
.right {
    float: right;
}
.clear {
    clear: both;
}


#title {
    font-size: 200%;
    font-weight: bold;
}
#cover {
    width: 400px;

}
#wrapper {
    margin : 0 auto;
}

#leftContainer {
    width: 400px;
    float: left;
}

#leftContainer a:link {
    color: #FFFFFF;
}

#leftContainer a:visited {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

div {
    color: #FFFFFF;
}

table {
    color: #FFFFFF;
}

text {
    color: #FFFFFF;
}

#rightContainer {
    width: 400px;
    float: left;
}
#rightContainer img {
    width: 400px;
    margin: 40px;
}

.trailer {
    border: 1px solid #FFFFFF;

}