<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create show</title>
    <link rel="stylesheet" type="text/css" th:href="@{/beautiful.css}" />
</head>
<body>

<div id="header" th:insert="/blocks/header :: header">MENU HERE :D</div>

<form method="post" action="#" th:action="@{/submitShow}" th:object="${show}"  >
    <input type="text" th:field="*{date_time}">

    <select th:field="*{displayMovie}">
        <option th:each="movie: ${movies}" th:value="${movie}" > <p th:text="${movie.title}" ></p>  </option>
    </select>



    <input type="submit" value="Submit">




</form>



</body>
</html>