<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/beautiful.css}" />
</head>
<body>

<div id="header" th:insert="/blocks/header :: header">MENU HERE :D</div>

<div class="createMenu">

<form method="post" action="#" th:action="@{/submitMovie}" th:object="${movie}"  >

    <div class="block">
        <input type="text" placeholder="title" th:field="*{title}">
    </div>

    <div class="block">
        <input type="text" placeholder="duration" th:field="*{duration}" />
    </div>

    <div class="block">
        <input type="text" placeholder="cover" th:field="*{cover}" />
    </div>

    <div class="block">
        <input type="text" placeholder="trailer" th:field="*{trailer}" />
    </div>

    <div class="block">
        <input type="text" placeholder="description" th:field="*{description}" />
    </div>




    <input type="submit" value="Submit">




</form>

</div>


</body>
</html>