<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KinoXP</title>
    <link rel="stylesheet" type="text/css" th:href="@{/beautiful.css}" />
</head>
<body>
<div id="header" th:insert="/blocks/header :: header ">MENU HERE :D</div>

<div>
    <div class="titleField"> <p th:text="${movie.title}"/> </div>
    <div class="coverField"> <img th:src="${movie.cover} " /> </div>
    <div class="titleField"> <p th:text="${movie.description} " > </p> </div>
    <div class="titleField"> <p th:text="${movie.duration} " > </p> </div>

    <iframe width="400" height="300" th:src="${movie.trailer} " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


</body>
</html>