<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display shows</title>
    <link rel="stylesheet" type="text/css" th:href="@{/beautiful.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/displayMovie.css}" />
</head>
<body>
<div id="header" th:insert="/blocks/header :: header ">MENU HERE :D</div>

<div> <p th:text="${movie.title} " > </p> </div>
<div>Theatre:<span th:text="${show.theatreId} " > </span> </div>
<div> <p th:text="${show.date_time} " > </p> </div>


<div>
    <form>
        <div th:each="row: ${show.rows}">
            <span th:each="seat: ${row.seats}">
                <input th:if="${seat.taken} == true" type="checkbox" disabled>
                <input th:if="${seat.taken} == false" type="checkbox">
            </span>
        </div>
    </form>
</div>





</body>
</html>