<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display shows</title>
    <link rel="stylesheet" type="text/css" th:href="@{/beautiful.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/displayMovie.css}" />
</head>
<body>
<div id="header" th:insert="/blocks/header :: header ">MENU HERE :D</div>

<div> <p th:text="${movie.title} " > </p> </div>
<div>Theatre:<span th:text="${show.theatreId} " > </span> </div>
<div> <p th:text="${show.date_time} " > </p> </div>


<div>
    <form method="post" action="submitBooking"  >
        <input type="hidden" th:field="*{booking.showId}" th:value="*{booking.showId}" >

        <span th:text="${show.id}" th:field="${booking.showId}" ></span><span> was show id</span>
        <table>
            <tr th:each="seat, booking :*{booking.seats}"\></tr>
                <tr th:each="row: ${show.rows}">
                <td th:each="seat: ${row.seats}">
                    <input th:if="${seat.taken} == true" type="checkbox" disabled>
                    <input th:if="${seat.taken} == false" type="checkbox" th:value="${seat.id}" th:field="${booking.seats}">

                    <span th:text="${seat.id}" ></span  >
                </td>
                </tr>
            </tr>
        </table>
        <input type="text" placeholder="username"  th:field="${booking.name}" >
        <input type="submit">
    </form>
</div>





</body>
</html>