<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KinoXP</title>
    <link rel="stylesheet" type="text/css" th:href="@{/beautiful.css}" />
</head>
<body>

<div id="logo">KinoXP</div>

<div id="menu" th:insert="/blocks/menu :: menu ">MENU HERE :D</div>

<div th:each="movie: ${movies}"  class="movieWrapper">
    <div class="titleField"><a th:href="@{/displayMovie(id=${movie.id})}"> <p th:text="${movie.title}"/> </a></div>

    <div class="coverField"><a th:href="@{/displayMovie(id=${movie.id})}" class="blockLink"> <img th:src="${movie.cover} " /> </a></div>
</div>


<div class="topnav">
    <div class="search-container">
        <form th:action="@{/searchMovie}" method="POST">
            <input type="text" name="search" id="search" th:value="${search}"/>
            <input type="submit" value="Search"/>
        </form>
    </div>
</div>


</body>
</html>