<div id="header" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="logo">KinoXP</div>

    <div id="menu" th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
        <a href="/">Movies</a>
        <a href="createMovie">Create movie</a>
        <a href="">Sales</a>
        <a href="">Staff</a>
        <a href="">Food</a>


        <div>
            <div>
                <form th:action="@{/searchMovie}" method="POST">
                    <input type="text" name="search" id="search" th:value="${search}"/>
                    <input type="submit" value="Search"/>
                </form>
            </div>
        </div>
    </div>


</div>
